//Fonts
$font-family: "Monserrat", sans-serif;

//Backgrounds
$container-bg: linear-gradient(
    to left top,
         #235575,
         #2681ac,
         #29c5f5
         #238a9c, 
         #4eacc4
    );
    $main-bg:inear-gradient(
        to right bottom, 
         #235575,
         #2681ac,
         #29c5f5
         #238a9c, 
         #4eacc4
    );

    //Colors
    $white: #28cfecee;
    $black: #000;
    $gray: #6f7172;
    $error:#3c6f8d;